
<!-- Modal Structure -->
<div id="modalOfer" class="modal modal-fixed-footer">
  <div class="modal-content">

Modificar precio de Oferta
<hr>

<form (ngSubmit)="guardar()"  [formGroup]="validar">
  <table>

      <!-- ///Precio -->
          <tr>
            <th>Precio de Oferta :</th>
          </tr>
          <tr>
                <td>
                  <input type="text" formControlName="precioOfer" [(ngModel)]="oferta.precioOfer" name="descripcionOfer" value="">

                    <div [ngClass]="{'red-text': validar.get('precioOfer').errors?.required && validar.get('precioOfer').touched}"  *ngIf="validar.get('precioOfer').errors?.required && validar.get('precioOfer').touched">
                      Este campo es requerido
                    </div>
                    <div [ngClass]="{'red-text': validar.get('precioOfer').errors?.pattern}"  *ngIf="validar.get('precioOfer').errors?.pattern">
                      Solo se admiten numeros
                    </div>
              </td>
          </tr>
          <!-- ///descripcion -->
          <tr>
            <th>Descripcion de Oferta: </th>
          </tr>
          <tr>
            <td>
              <input type="text" formControlName="descripcionOfer" [(ngModel)]="oferta.descripcionOfer" name="precioOfer" value="">
                <div [ngClass]="{'red-text':validar.get('descripcionOfer').errors?.required && validar.get('descripcionOfer').touched}"  *ngIf="validar.get('descripcionOfer').errors?.required && validar.get('descripcionOfer').touched">
                  Este campo es requerido

                </div>
            </td>

          </tr>
          <!-- Input de enviar -->
          <tr>
            <td><button type="submit" name="button" class="modal-close waves-effect waves-green btn-fla btn " [disabled]="!validar.valid">Modificar</button></td>
          </tr>
      </table>
</form>

  </div>
  <div class="modal-footer">
      <a class=" modal-close waves-effect waves-green btn-flat btn"> Cerrar</a>


  </div>
</div>
