<div class="menu #42a5f5 blue lighten-1  ">

  <div>
    <ul class="collapsible" data-collapsible="accordion">
  <li>
   <div class=" collapsible-header #b3e5fc #000000 black white-text"><i class="material-icons left" style="color:rgb(255, 253, 55);">power_settings_new</i>{{usuario | capitalizar}}</div>
   <div class="collapsible-body #212121 grey darken-4"><button (click)="cerrarSession()" class="btn center #212121 grey darken-4 col m12" >Cerrar sesion</button>
                                                      <button class="btn center #212121 grey darken-4 col m12" >Cambiar contraseña</button></div>
  </li>


  <li>
   <div class="collapsible-header active #b3e5fc #01579b light-blue white-text darken-4 "><i class="material-icons">menu</i></div>
   <div class="collapsible-body #263238 blue-grey  darken-4">    <div class="collection">
          <a [routerLink]="['/admin','cars']" class="collection-item black-text "><span class="lol badge white-text #0277bd light-blue darken-3">15</span>Vehiculos</a>
          <a [routerLink]="['/admin','offers']" class="collection-item black-text "><span class="lol badge white-text #d50000 red accent-4">4</span>Ofertas</a>
        </div></div>
  </li>

  </ul>

</div>

</div>
