<nav class="url #212121 grey darken-4">
  <div class="nav-wrapper">
    <div class="col m12 nave ">

    <a [routerLink]="['/admin','home']"  class="breadcrumb">Admin</a>

    </div>
  </div>
</nav>
<div class="positions">
  <h4>Posiciones</h4>
<table class="striped">
<thead>
<tr>
   <th>Imagen</th>
 <th>Marca</th>
 <th>Modelo</th>

 <th>Precio</th>
 <th>Precio de oferta</th>
</tr>
</thead>

<tbody>

  <tr class="select">
  <td><img src="assets/312.jpg" style="height:70px;" alt=""></td>
   <td>asdsa</td>
   <td>asdsad</td>
   <td>asdasd</td>
   <td>asdsad</td>
    <td>
      <button class="btn #01579b light-blue darken-4" disabled><i class="material-icons">keyboard_arrow_up</i></button><br><br>
      <button class="btn #01579b light-blue darken-4" disabled><i class="material-icons">keyboard_arrow_down</i></button>
    </td>

  </tr>

  <tr class="select selected">
  <td><img src="assets/312.jpg" style="height:70px;" alt=""></td>
   <td>asdsa</td>
   <td>asdsad</td>
   <td>asdasd</td>
   <td>asdsad</td>
    <td>
      <button class="btn #01579b light-blue darken-4"><i class="material-icons">keyboard_arrow_up</i></button><br><br>
      <button class="btn #01579b light-blue darken-4"><i class="material-icons">keyboard_arrow_down</i></button>
    </td>

  </tr>


  <tr class="select ">
  <td><img src="assets/312.jpg" style="height:70px;" alt=""></td>
   <td>asdsa</td>
   <td>asdsad</td>
   <td>asdasd</td>
   <td>asdsad</td>
    <td>
      <button class="btn #01579b light-blue darken-4" disabled><i class="material-icons">keyboard_arrow_up</i></button><br><br>
      <button class="btn #01579b light-blue darken-4" disabled><i class="material-icons">keyboard_arrow_down</i></button>
    </td>

  </tr>



  </tbody>
  </table>
</div>
