nav{
  margin: 0!important;
  margin-top: -20px!important;
  height: 44px!important;
}

.cont{
  width: 80%!important;
  float: left;
}
.bn{
  display: none;
  border-radius:0;
}

.positions{

  width: 95%;
  margin: auto;
  overflow: auto;
  height: calc(100% - 50px);
}

.selected{
  background:rgb(156, 207, 255)!important;
}
.select:hover{

    cursor: pointer;
}
@media (max-width:700px){
  .cont{
    width: 100%!important;
  }
  .bn{
    display:block!important;
  }
  .url{
    display: none!important;
  }
}
