<nav class="url #212121 grey darken-4">
  <div class="nav-wrapper">
    <div class="col m12 nave ">

    <a [routerLink]="['/admin','home']"  class="breadcrumb">Admin</a>

    </div>
  </div>
</nav>
<div class="positions">
  <h4>Posiciones</h4>
<table class="striped">
<thead>
<tr>
   <th>Imagen</th>
 <th>Marca</th>
 <th>Modelo</th>

 <th>Precio</th>
 <th>Posición</th>
</tr>
</thead>

<tbody>

  <tr class="select" [ngClass]="{ 'selected': select == carro.$key }"  *ngFor="let carro of vehiculos | async; let i = index;" (click)="sele(carro.$key)">
  <td><img [src]="carro.url1" style="height:70px;" alt=""></td>
   <td>{{carro.marca}}</td>
   <td>{{carro.modelo}}</td>
   <td>{{carro.precio}}</td>
   <td>#</td>
    <td>
      <button *ngIf="select != carro.$key || i==0" class="btn #01579b light-blue darken-4" disabled><i class="material-icons">keyboard_arrow_up</i></button>
      <button (click)="subir(carro.$key)" *ngIf="select == carro.$key && i!=0" class="btn #01579b light-blue darken-4" ><i class="material-icons">keyboard_arrow_up</i></button><br><br>
      <button *ngIf="select != carro.$key || i==cant" class="btn #01579b light-blue darken-4" disabled><i class="material-icons">keyboard_arrow_down</i></button>
      <button *ngIf="select == carro.$key && i!=cant" class="btn #01579b light-blue darken-4" ><i class="material-icons">keyboard_arrow_down</i></button>
    </td>

  </tr>

  </table>
</div>
