<div>

<nav class="url #212121 grey darken-4">
  <div class="nav-wrapper">
    <div class="col m12 nave ">
      <a [routerLink]="['/admin','home']" class="breadcrumb">Admin</a>
      <a [routerLink]="['/admin','cars']" class="breadcrumb">Vehiculos</a>
        <a [routerLink]="['/admin','car','registro']" class="breadcrumb">Registro</a>
    </div>
  </div>
</nav>
<!--  -->


<div class="base_reg">

   <form class="col s12" (ngSubmit)='guardar()'>

     <div class="left-forms">

     <div class="col m12">
       <div class="input-field col s12">

        <!-- marca -->
         <input id="icon_prefix" type="text" [(ngModel)]='vehiculos.marca' name='marca' class="validate">
        <!--  -->

         <label for="icon_prefix">Marca</label>
       </div>



     </div>

     <div class="col m12">
       <div class="input-field col s12">

          <!-- modelo -->
         <input id="icon_prefix" type="text"  name='modelo' [(ngModel)]='vehiculos.modelo' class="validate">
          <!--  -->

         <label for="icon_prefix">Modelo</label>
       </div>

       <div class="input-field col s12">

          <!-- modelo -->
         <input id="icon_prefix" name='precio' [(ngModel)]='vehiculos.precio' type="text" class="validate">
          <!--  -->

         <label for="icon_prefix">Precio</label>
       </div>

       <div class="col bh m12">
    <div class="input-field col s12">

        <!-- Descripcion -->
      <textarea id="textarea1" name='descripcion' [(ngModel)]='vehiculos.descripcion' class="materialize-textarea"></textarea>
        <!--  -->

      <label for="textarea1">Descripcion</label>
    </div>
  </div>






     </div>
</div>
<!-- IMAGENES -->
<div class="right-forms">

  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 1</span>
      <input type="file" class="img1" multiple>
    </div>
    <div class="file-path-wrapper">

        <!-- imagen 1 -->
      <input class="file-path validate" type="text" placeholder="Upload one or more files">
         <!--  -->

    </div>
  </div>



  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 2</span>

      <!-- imagen 2 -->
      <input type="file" class="img2" multiple>
      <!--  -->

    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload one or more files">
    </div>
  </div>


  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 3</span>
      <input type="file" class="img3" multiple>
    </div>
    <div class="file-path-wrapper">

      <!-- imagen 3  -->
      <input class="file-path validate" type="text" placeholder="Upload one or more files">
      <!--  -->

    </div>
  </div>


  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 4</span>
      <input type="file" class="img4" multiple>
    </div>
    <div class="file-path-wrapper">

      <!-- Imagen 4 -->
      <input class="file-path validate" type="text" placeholder="Upload one or more files">
        <!--  -->

    </div>
  </div>

  <!-- boton submit -->
    <button type="submit" class="btn center col m6 offset-m3">Registrar</button>
  <!--  -->
</div>



     </form>
  </div>
</div>
