<div>

<nav class="url #212121 grey darken-4">
  <div class="nav-wrapper">
    <div class="col m12 nave ">
      <a [routerLink]="['/admin','home']" class="breadcrumb">Admin</a>
      <a [routerLink]="['/admin','cars']" class="breadcrumb">Vehiculos</a>
        <a [routerLink]="['/admin','car','registro']" class="breadcrumb">{{Estado}}</a>
    </div>
  </div>
</nav>
<!--  -->


<div class="base_reg">

   <form class="col s12" [formGroup]="validar"  (ngSubmit)='guardar()'>

     <div class="left-forms">

     <div class="col m12">
       <div class="input-field col s12">

        <!-- marca -->
         <input id="icon_prefix" type="text" formControlName="marca" [(ngModel)]='vehiculos.marca' name='marca' class="validate">
        <!--  -->
        <div [ngClass]="{'red-text':validar.get('marca').errors?.pattern}" *ngIf="validar.get('marca').errors?.pattern">
        Este campo solo puede llevar letra
      </div>
         <label *ngIf="!editar"  for="icon_prefix">Marca</label>
       </div>



     </div>

     <div class="col m12">
       <div class="input-field col s12">

          <!-- modelo -->
         <input id="icon_prefix" type="text"  formControlName="modelo"  name='modelo' [(ngModel)]='vehiculos.modelo' class="validate">
          <!--  -->

         <label *ngIf="!editar" for="icon_prefix">Modelo</label>
       </div>

       <div class="input-field col s12">

          <!-- modelo -->
         <input id="icon_prefix" name='precio' formControlName="precio" [(ngModel)]='vehiculos.precio' type="text" class="validate">
          <!--  -->
          <div [ngClass]="{'red-text':validar.get('precio').errors?.pattern}" *ngIf="validar.get('precio').errors?.pattern">
          Este campo solo puede llevar numero
        </div>

         <label *ngIf="!editar"  for="icon_prefix">Precio</label>
       </div>

       <div class="col bh m12">
    <div class="input-field col s12">

        <!-- Descripcion -->
      <textarea id="textarea1" formControlName="descripcion"  name='descripcion' [(ngModel)]='vehiculos.descripcion' class="materialize-textarea"></textarea>
        <!--  -->

      <label *ngIf="!editar" or="textarea1">Descripcion</label>
    </div>
  </div>






     </div>
</div>
<!-- IMAGENES -->
<div class="right-forms">

  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 1</span>
      <input type="file"  accept="image/*" class="img1" multiple>
    </div>
    <div class="file-path-wrapper">

        <!-- imagen 1 -->
      <input class="file-path validate" type="text" id="nombre" placeholder="Subir una imagen" value="{{this.vehiculos.img1}}">
         <!--  -->

    </div>
  </div>



  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 2</span>

      <!-- imagen 2 -->
      <input type="file"  accept="image/*" class="img2" multiple>
      <!--  -->

    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text"  placeholder="Subir una imagen" value="{{this.vehiculos.img2}}">
    </div>
  </div>


  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 3</span>
      <input type="file"  accept="image/*" class="img3" multiple>
    </div>
    <div class="file-path-wrapper">

      <!-- imagen 3  -->
      <input class="file-path validate" type="text" placeholder="Subir una imagen" value="{{this.vehiculos.img3}}">
      <!--  -->

    </div>
  </div>


  <div class="file-field input-field col m12">
    <div class="btn #1e88e5 blue darken-1">
      <span>Imagen 4</span>
      <input type="file" accept="image/*" class="img4" multiple>
    </div>
    <div class="file-path-wrapper">

      <!-- Imagen 4 -->
      <input class="file-path validate" type="text" placeholder="Subir una imagen" value="{{this.vehiculos.img4}}">
        <!--  -->

    </div>
  </div>

  <!-- boton submit -->
    <button type="submit"  [disabled]="!validar.valid"  class="btn center col m6 offset-m3">{{Estado}}</button>
  <!--  -->
</div>



     </form>
  </div>
</div>
