
<!-- M O D A L -->


<!--  -->




<div class="row conta">

  <!--  -->
    <div class="col s12 m6 l4" *ngFor="let vehiculo of this._mostrarVehiculos.vehiculo |async">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-size:cover;background-position:center;height:200px;">
              <img [src]="vehiculo.url1" alt="">
            </div>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4" style="font-size:18px;">{{vehiculo.marca}} {{vehiculo.modelo}} <i class="material-icons right">more_vert</i></span>
            <p><button class="btn col m12 s12" [ngClass]="{'#d50000 red accent-4 tooltipped':vehiculo.estado==2,'#00c853 green accent-4 tooltipped':vehiculo.estado==1}"  data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button> <a class="btn #039be5 light-blue darken-1 col m12 s12 center-align" style="font-size:20px;">${{vehiculo.precio}}</a><br><br><br><br></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">{{vehiculo.marca}} {{vehiculo.modelo}} <i class="material-icons right">close</i></span>
            <p class="white-text">{{vehiculo.descripcion}}</p>
            <button  [routerLink]="['/cars',vehiculo.$key]" class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div>
  <!--  -->

  <!--  -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #d50000 red accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->

   <!-- -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #d50000 red accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->


  <!--  -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #d50000 red accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->


  <!--  -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #d50000 red accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->


  <!--  -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #d50000 red accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->

  <!--  -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #d50000 red accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->

  <!--  -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #1565c0 blue darken-3 tooltipped" data-position="right" data-delay="50" data-tooltip="Vamos!"><i class="material-icons right">query_builder</i>Comprar</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->

  <!--  -->
    <!-- <div class="col s12 m6 l4">
      <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator" style="background-image:url(assets/0013.jpg);background-size:cover;background-position:center;height:200px;"></div>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><button class="btn #d50000 red accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip=" EN OFERTA "><i class="material-icons right">query_builder</i>Comprar ahora</button></p>
          </div>
          <div class="card-reveal #212121 grey darken-4">
            <span class="card-title white-text text-darken-4 ">Card Title<i class="material-icons right">close</i></span>
            <p class="white-text">Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn #fafafa grey lighten-5 black-text waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right" style="color:#4499b9" >photo_size_select_actual</i>imagenes</button>
          </div>
        </div>
    </div> -->
  <!--  -->

<app-show-vehiculo></app-show-vehiculo>


</div>
