<div class="general">
  <h1>Contactos</h1>
    <div class="mapa">
          <div class="container ">
            <div class="row col s12 m12 l12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.377904752899!2d-70.70979398468843!3d19.482370586856096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1c5d92ad8267d%3A0xa314e8e9d554f15d!2sAv.+Salvador+Estrella+Sadhal%C3%A1%2C+Santiago+De+Los+Caballeros+51000!5e0!3m2!1ses-419!2sdo!4v1503341745496" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
          </div>
    </div>
    <div class="formulario">

      <div class="row">
    <form class="col s12 formulario1">
      <div class="row">
        <div class="input-field col s12 m12 l10">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Nombre</label>
        </div>
        <div class="input-field col s12 m12 l10">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telefono</label>
        </div>
        <div class="input-field col s12 m12 l10">
            <i class="material-icons prefix">mail</i>
          <input id="email" type="email" class="validate">
          <label for="email" data-error="Correo-invalido" data-success="Correo-valido">Correo electronico</label>
        </div>
        <div class="input-field col s12 m12 l10">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Asunto</label>
        </div>
        <div class="input-field col s12 m12 l10">
          <i class="material-icons prefix">mode_comment</i>
          <textarea id="icon_prefix2" class="materialize-textarea "></textarea>
          <label for="icon_prefix2">Mensaje</label>
        </div>

      </div>
      <button class="btn waves-effect waves-light #1e88e5 blue darken-1
" type="submit" name="action">Enviar
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>

    </div>
</div>
