<div class="row bh">
  <div class="boxx col s12 m6 l4" *ngFor="let carro of carros |async" >

    <div class="col s12 m12 " >
      <div class="card">
<div class="card-image waves-effect waves-block waves-light">
<!-- <div style="height:250px;"> -->

<img class="activator" style="margin-top:-50px;" [src]="carro.url1">
<!-- </div> -->
</div>
<div class="card-content">
<span class="card-title activator grey-text text-darken-4" style="font-size:18px;">{{carro.marca}}  {{carro.modelo}} <i class="material-icons right">more_vert</i></span>
<p *ngIf="carro.estado==2"><button [routerLink]="['/home',carro.$key]" class="btn col m12 s12 modal-trigger"  href="#modalCompras"  [ngClass]="{'#d50000 red accent-4':carro.estado==2}" ><i class="material-icons right">query_builder</i>Comprar ahora</button><a class="btn #039be5 #212121 grey darken-4 col m12 s12 center-align " style="font-size:20px;"><del>{{carro.precio | currency:DOP:true}}</del> - {{carro.precioOfer | currency:DOP:true }}</a><span style="text-align:center;display:block;font-weight:bold;">{{carro.descripcionOfer}}</span>
<p *ngIf="carro.estado==1"><button   class="btn col m12 s12 modal-trigger"  href="#modalCompras"  [ngClass]="{'#00c853 green accent-4 ':carro.estado==1}" ><i class="material-icons right">query_builder</i>Comprar ahora</button><a class="btn #039be5 light-blue darken-1 col m12 s12 center-align" style="font-size:20px;">{{carro.precio | currency:DOP:true}}</a><br><br><br><br></p>
</div>
<div class="card-reveal">
<span class="card-title grey-text text-darken-4" >{{ carro.marca }} {{ carro.modelo }}<i class="material-icons right">close</i></span>
<p>{{ carro.descripcion }}.</p>
</div>
</div>





      </div>
    </div>
    </div>
