<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Esta es una ventana Modal</h4>
    </div>
<form>

  <div>
        <!-- cuerpo -->
    <table>
      <tr>{{datos.marca}}</tr>
    <tr>MODELO</tr>
    <tr>PRECIO ACTUAL</tr>
      <tr>
        <th>Precio Oferta</th>
      </tr>
      <tr>
        <th><input type="text"  name="descripcionOfer" value=""></th>
      </tr>
      </table>
      </div>
    </form>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
