<div class="container fadeIn dast animated">


<div class="row">


  <div class="blocks col m12 ">
            <i class=" material-icons large" style=" display:block;text-align:center; ">keyboard_arrow_down</i>
            <h4 class=" center ">CONDICIONES DE ALQUILER DE ALAPATORIEGA.COM</h4>
  </div>


</div>
<hr>


<!--  -->

<div class="row">


  <div class="blocks col m12 ">

            <i class="material-icons large" style=" display:block;text-align:center;">alarm</i>
            <h5 class=" center">¡Para cualquier compra el conductor autorizado debe tener una licencia válida de cualquier país
            </h5>

  </div>


</div>


<div class="row">


  <div class="blocks col m12 ">
              <i class="material-icons large"  style=" display:block;text-align:center;">thumb_up</i>
            <h5 class=" center">Hacemos entrega en todos los aeropuertos y hoteles del país. En caso de problemas mecánicos, nuestro personal trabaja las 24 horas para darles servicio en cualquier punto del país, sin costo adicional.
            </h5>

  </div>


</div>


</div>
