<nav class="url #212121 grey darken-4">
  <div class="nav-wrapper">
    <div class="col m12 nave ">
      <a [routerLink]="['/admin','home']"  class="breadcrumb">Admin</a>
      <a [routerLink]="['/admin','offers']"  class="breadcrumb">Ofertas</a>
    </div>
  </div>
</nav>

<!-- contenido de ofertas -->

<!-- buscador de vehiculos  -->
<div  class="conte_busc">

<div (click)="encontrar(buscador.value)" class="row abs">
  <div class="col s12">
    <div   class="row">
      <div  class="input-field col s12">
        <i class="material-icons prefix">search</i>

        <!-- input para buscarlas ofertas -->
        <input type="text"  #buscador   (keyup)="encontrar(buscador.value)"  id="autocomplete-input" class="autocomplete">
        <!--  -->

        <label for="autocomplete-input">Buscar ofertas</label>
      </div>
    </div>
  </div>
</div>

</div>
<!--  -->

<div class="base-tablet">


  <table class="striped">
<thead>
<tr>
   <th>Marca</th>
   <th>Modelo</th>
   <th>Posición</th>
   <th>Precio</th>
   <th>Precio de oferta</th>
</tr>
</thead>

<tbody>


<tr *ngFor="let oferta of this._Ofers.Ofertas | async;let i=index">
<td *ngIf="oferta.estado == 2">{{oferta.marca}}</td>
 <td *ngIf="oferta.estado == 2">{{oferta.modelo}}</td>
 <td *ngIf="oferta.estado == 2">no existe</td>
 <td *ngIf="oferta.estado == 2">${{oferta.precio}}</td>
 <td *ngIf="oferta.estado == 2">${{oferta.precioOfer}}</td>

  <td  *ngIf="oferta.estado == 2"><button class="btn btn-floating #0277bd light-blue darken-3 modal-trigger"  href="#modalOfer" [routerLink]="['/admin','offers',oferta.$key]"><i class="material-icons">create</i></button></td>
  <td  *ngIf="oferta.estado == 2"><button class="btn btn-floating #e53935 red darken-1"><i class="material-icons" (click)="this._Ofers.eliminarOfertas(oferta.$key)">delete</i></button></td>
</tr>

</tbody>
</table>


<app-modal-oferta></app-modal-oferta>
</div>
