<div id="login-page" class="row">
  <h4  id="introduction" class="center-align section scrollspy">Login</h4>
    <div class="col s12 z-depth-6 card-panel">

      <!-- formulario -->
      <form class="login-form" (ngSubmit)="logear()" [formGroup]="login">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>

                <!-- nombre de usuario -->
            <input type="text" id="user" name="user" formControlName="user">


            <label for="user" data-error="wrong" data-success="right">Nombre de usuario</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>

            <!-- contra -->
            <input id="password" type="password" name="password" formControlName="password">
              <!--  -->

            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">


          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">

            <!-- btn -->
            <button type="submit" class="btn waves-effect waves-light col s12 #1976d2 blue darken-2">Login</button>
          </div>
        </div>


      </form>
<!--  -->

    </div>
  </div>
