<div class="row">
  <div class="col m12 #ffffff white" style="padding:50px;">
        <div class="col m12">
          <h5 class="center col s12 m6 offset-m3" style="color:rgb(45, 45, 45);">neque dignissimos sequi quod. Vitae odio voluptatum, sapiente facere, a accusamus!</h5>
        </div>
        <div class="col m12 of">

          <img src="assets/hi.jpg" class="col m3" style="padding-top:35px;" alt="">
          <button *ngIf="estadoOfertas"  class="btn col  m6 #0277bd light-blue darken-3" [routerLink]="['/offers']">Ver nuestras ofertas</button>
          <button *ngIf="!estadoOfertas"  class="btn col  m6 #0277bd light-blue darken-3" [routerLink]="['/cars']">Ver nuestros vehiculos</button>

          <i class="material-icons col m6 center large" style="margin-top:40px; color:rgb(134, 134, 134);">query_builder</i>
          <img src="assets/hi2.jpg" class="col m3" alt="">

        </div>
            <button class="btn col s12 hid #0277bd light-blue darken-3">Ver nuestras ofertas</button>
  </div>
</div>
