
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">

    <ul id="tabs-swipe-demo" class="tabs">
   <li class="tab col s3"><a class="active" href="#test-swipe-1">Imagenes</a></li>
   <li class="tab col s3"><a  href="#test-swipe-2">Detalles</a></li>
 </ul>
 <div id="test-swipe-1" class="col s12 #e3f2fd blue lighten-5">
<!-- aqui van las imagenes del vehiculo  -->

<div class="row">

      <div class="col s12 m2">
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" [src]="vehiculos.url1">

            <!-- sub imagenes -->

           </div>
        </div>
      </div>


                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img class="materialboxed" [src]="vehiculos.url2">
                       </div>
                    </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img class="materialboxed" [src]="vehiculos.url3">
                       </div>
                    </div>
                  </div>

                  <div class="col s12 m2">
                    <div class="card">
                      <div class="card-image">
                        <img class="materialboxed" [src]="vehiculos.url4">
                       </div>
                    </div>
                  </div>
                  <!--  -->
    </div>










<!--  -->
 </div>
 <div id="test-swipe-2" class="col s12 ">
<!-- detalles del vehiculo  -->

<table>

          <tr>
              <th>Marca : </th>
          </tr>
          <tr>
              <td>{{vehiculos.marca}}</td>
          </tr>
          <tr>
            <th>Modelo : </th>

          </tr>
          <tr>
                <td>{{vehiculos.modelo}}</td>
          </tr>
          <tr>
            <th>Descripcion : </th>
          </tr>
          <tr>
            <td>{{vehiculos.descripcion}}</td>

          </tr>

      </table>



   <!--  -->
 </div>


  </div>
  <div class="modal-footer">
      <a class=" modal-close waves-effect waves-green btn-flat btn"> Cerrar</a>
    <a href="#!" class="modal-action modal-close waves-effect  waves-green btn-flat btn modal-trigger"  href="#modalCompras" > Comprar ahora</a>

  </div>
</div>
