
<div *ngIf="!estado"  class="footer-copyright #000000 black">
  <div class="container grey-text text-lighten-4" style="padding:10px;" >
  © 2014 Copyright Text
  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>


<!-- pie de pagina de la pagina en estado normal -->
  <footer *ngIf="estado"  class="page-footer #212121 grey darken-4">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Nosotros</h5>
               <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque libero non aspernatur soluta, repudiandae facere vel aut porro iste a! Quam vel facilis doloremque nihil magnam ab ipsa architecto, ipsum..</p>
             </div>
             <div class="col l4 offset-l2 s12">

               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright #212121 grey darken-3">
           <div class="container">
           © 2014 Copyright Text
           <a class="grey-text text-lighten-4 right" [routerLink]="['login']" >Iniciar sesión</a>
           </div>
         </div>
       </footer>
